<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="tid" converterClass="com.echobox.logging.ThreadIdConverter" />

    <!-- Logging to console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{dd/MM HH:mm:ss.SSS} [%tid-%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Get all debug logs from within sh.ebx -->
    <logger name="sh.ebx" level="DEBUG" />

    <!-- Disable all but warns from the bitly API -->
    <logger name="net.swisstech" level="WARN" />

    <!-- Disable all but error from the mongo driver -->
    <logger name="org.mongodb" level="WARN" />

    <!-- Disable all but error from crawler-commons -->
    <logger name="c.sitemaps" level="WARN" />
    <logger name="crawlercommons" level="WARN" />

    <!-- Disable all but warns from lambdaworks (and related), a redis library -->
    <logger name="com.lambdaworks" level="WARN" />
    <logger name="io.netty" level="WARN" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
